<h1>{{title}}</h1>
import { Component } from '@angular/core';
import { RouterOutlet } from '@angular/router';
import { HeaderComponent } from '../core/header/header.component';

@Component({
    selector: 'app-root',
    standalone: true,
    imports: [RouterOutlet, HeaderComponent],
    templateUrl: './app.component.html',
    styleUrl: './app.component.scss'
})
export class AppComponent {
    title = 'Tutorial de Angular';
}

<div>
  <app-header></app-header>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>